<!doctype html>
<html>
    background-color:#B31B1B
    <style>
        #text{
            color:#B31B1B;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
    </style>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <h1 id="text">Big Red BenchFinder</h1>
        <title>{% block title %}{% endblock %}</title>
        <h3 id="text"> Find places on campus to chill with friends while maintaining social distance!</h3>
        <link rel="stylesheet" href="style.css"></link>
        
    </head> 
    <body style="background-color:#222222; text-align:center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div id="text" class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Central Campus<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">North Campus</a>
                <a class="nav-item nav-link" href="#">South Campus</a>
                <a class="nav-item nav-link" href="#">Density </a>
              </div>
            </div>
        </nav>
        <h3>{% block content %}
            <style>
                </style>
            {% endblock %}</h3>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
