{% extends "base.html"%}
{% block content %}
<!doctype html>
<html>

<head>
<style>
table {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
  padding-left: 30px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Bench Names</th>
    <th>Number of People</th>
  </tr>
  <tr>
    <td>Ho Plaza Bench</td>
    <td></td>
  </tr>
  <tr>
    <td>Joseph Fleming Bench</td>
    <td></td>
  </tr>
  <tr>
    <td>White Stone Bench</td>
    <td></td>
  </tr>
  <tr>
    <td>Cornell Store Benches</td>
    <td></td>
  </tr>
  <tr>
    <td>Stimson Hall Bench</td>
    <td></td>
  </tr>
  <tr>
    <td>"The Seven Jewels" Bench</td>
    <td></td>
  </tr>
  <tr>
    <td>Olin Library Benches</td>
    <td></td>
  </tr><tr>
    <td>Tower Road Bench</td>
    <td></td>
  </tr><tr>
    <td>Arts Quad Bench</td>
    <td></td>
  </tr><tr>
    <td>The Slope Benches</td>
    <td></td>
  </tr><tr>
    <td>Sigma Nu Bench</td>
    <td></td>
  </tr><tr>
    <td>Bailey Circle Bench</td>
    <td></td>
  </tr><tr>
    <td>Class of 1927 Bench</td>
    <td></td>
  </tr>
</table>

</body>
</html>
{% endblock %}
