{% extends "base.html"%}
{% block title %}
{% endblock %}
{% block content %}
<iframe class="container-fluid" src="/cumap" height="500"></iframe>
<!-- <iframe  class="container-fluid" src="https://www.google.com/maps/d/embed?mid=1AgyqXERQnLRjHyB2upji924UhFhT7AVx" height="480"></iframe> -->
<br></br>
<style>
  h4{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  </style>
<h4 style="color:#B31B1B">Which bench are you heading?</h4>
<!-- <select name="dropdown_list">
  {% for each in dropdown_list %}
  <option value="{{each}}">{{each}}</option>
  {% endfor %}
</select> -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bench
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">The Slope Benches</button>
    <button class="dropdown-item" type="button">The Class of 1927 Bench</button>
    <button class="dropdown-item" type="button">Arts Quad Bench</button>
    <button class="dropdown-item" type="button">Sigma Nu Bench</button>
    <button class="dropdown-item" type="button">Bailey Circle Bench</button>
    <button class="dropdown-item" type="button">Tower Road Bench</button>
    <button class="dropdown-item" type="button">Olin Library Benches</button>
    <button class="dropdown-item" type="button">"The Seven Jewels" Bench</button>
    <button class="dropdown-item" type="button">Stimson Hall Bench</button>
    <button class="dropdown-item" type="button">White Stone Bench</button>
    <button class="dropdown-item" type="button">Joseph Fleming Bench</button>
    <button class="dropdown-item" type="button">Ho Plaza Bench</button>
    <button class="dropdown-item" type="button">Cornell Store Benches</button
  </div>
</div>
<h4 style="color:#B31B1B">Help us track density by entering number of people you're going with!</h4>
<form method="POST" action="/send">
  <div class="form-group">
      <input type="text" name="persons">
  </div>
  <input class="btn btn-primary" type="submit" value="Find Out Density">
{% endblock %}