{% extends "base.html"%}
{% block content %}
<br>
<iframe class="container-fluid" src="/cumap" height="500"></iframe>

<!-- <iframe  class="container-fluid" src="https://www.google.com/maps/d/embed?mid=1AgyqXERQnLRjHyB2upji924UhFhT7AVx" height="480"></iframe> -->
</br>
<style>
    h4{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
</style>
<h4  style="color:#B31B1B"> Thanks for letting us know. {{ persons }} number of people are going. </h4>
<!-- <h2> Interested in going? Let us know!</h2>
<form action="" method="post">
    <p>
        {{form.username.label}} <br>
        {{form.username(size=30)}}
    </p>
    <p>{{form.submit}}</p>

</form> -->

{% endblock %}